<h1> DBZ Personajes </h1>
<hr>
<div class="row">
  <div class="col">
    <!--
      ** Esto se paso al componente dbz-list
      <h4>Listado</h4>
      <ul class="list-group">
        <li class="list-group-item">Krillin - 500</li>
        <li class="list-group-item">Goku - 10,000</li>
      </ul>
    -->
    <dbz-list [characterList]="characters"
              (onDelete)="onDeleteCharacterById($event)"
    ></dbz-list>
  </div>

  <div class="col">
    <!--
      ** Esto se paso al componente dbz-add-character
      <h4>Agregar Personaje</h4>
      <form class="row">
        <input type="text" placeholder="Nombre">
        <input type="number" placeholder="Poder">
        <button type="submit" class="btn btn-primary">
          Agregar
        </button>
      </form>
    -->
    <dbz-add-character (onNewCharacter)="onNewCharacter($event)"></dbz-add-character>
  </div>
</div>
